* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}
h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
  font-family: "Dosis", sans-serif;
}

h4 {
  color: #426696;
  font-weight: 500;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
}
h5 {
  font-family: "Dosis", sans-serif;
}
.text__white {
  color: white;
}
.navbar__background {
  background-color: #fff !important;
  transition: 1s;
}
.tulisan__p {
  font-size: 15px;
}
.main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}
.background {
  background: rgb(21, 32, 43) !important;
}
.glass {
  box-shadow: 30px 40px 30px -35px rgba(0, 0, 0, 0.9);
  background: white;
  height: 80vh;
  width: 85%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.glass::-webkit-scrollbar {
  display: none;
}

.container__heading {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10em;
}
.quote {
  font-family: "Dosis", sans-serif;
  flex: 1.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote h3 {
  font-size: 4em;
}

.quote p {
  font-size: 25px;
}

.row__button {
  margin-top: 10px;
}

.tangan {
  margin: -15px;
}
.tangan img {
  width: 70px;
}

.tangan_kedua {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-left: 200px;
}
.tangan_kedua img {
  width: 70px;
}
.button {
  font-family: "Poppins", sans-serif;
  width: 10em;
  padding: 20px;
  font: x-large;
  background: linear-gradient(to right, #65dfc9, #6cdbeb);
  border: none;
  border-radius: 10px;
  margin-top: 4em;
  cursor: pointer;
  outline: none;
}

.button2 {
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  width: 10em;
  padding: 20px;
  font: x-large;
  background: linear-gradient(to right, #65dfc9, #6cdbeb);
  border-radius: 10px;
  margin-top: 4em;
  cursor: pointer;
}

.image__heading {
  width: 45%;
}
/* CIRCLE */
.circle4 {
  bottom: 41%;
  right: 3%;
}

.circle4 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 4rem;
  width: 4rem;
  position: absolute;
  border-radius: 50%;
}

.circle6 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}

.circle6 {
  bottom: 8%;
  right: 6%;
}

.circle10 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 8rem;
  width: 8rem;
  position: absolute;
  border-radius: 50%;
}

.circle10 {
  top: 1%;
  right: 40%;
}
.gambar__main {
  display: flex;
}
.img2 {
  width: 20em;
  position: absolute;
  z-index: -1;
  bottom: 72%;
  left: 17%;
}
.poptrox-popup {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0.5em 3em 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow: hidden;
}

.poptrox-popup .closer {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 2;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  white-space: nowrap;
  text-indent: 2.5em;
  overflow: hidden;
  width: 2.5em;
  height: 2.5em;
  display: block;
}

.poptrox-popup .closer:before {
  content: "X";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.poptrox-popup .closer:before {
  display: block;
  position: relative;
  text-indent: 0;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
}

.poptrox-popup:hover .closer {
  opacity: 0.5;
}

.poptrox-popup:hover .closer:hover {
  opacity: 1;
}
.gamba {
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.gamba:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #ff6382;
}
body.is-covered #wrapper {
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.img-gantung {
  position: absolute;
  right: 0.6%;
  top: 0;
  width: 160px;
}
.slide {
  animation: deddy 1s ease-in-out 2 alternate;
}
.text__footer h3 {
  font-size: 20px;
}
.text__footer p {
  font-size: 15px;
}
@keyframes deddy {
  from {
    opacity: 0;
    transform: translate(0);
  }
  to {
    opacity: 1;
    transform: translate(100px);
  }
}
footer {
  border-radius: 50px;
  margin-top: 15em;
  background: linear-gradient(
    to top left,
    rgba(0, 175, 245, 0.3),
    rgb(253, 253, 253)
  );
  width: 100%;
}
.lingkaran {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 13rem;
  width: 13rem;
  padding: 20px;
  position: absolute;
  top: -84px;
  left: -8%;
  border-radius: 50%;
}
.tangan-saya {
  animation: tangan 1.5s ease infinite;
}
@keyframes tangan {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
/* responsive */
@media (max-width: 576px) {
  .tangan_kedua {
    margin-top: -30px;
  }
  .lingkaran {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: 192px;
    left: 82px;
    border-radius: 20%;
  }
  .lingkaran h5 {
    margin-top: 26px !important;
    font-size: 10px !important;
  }
  .gambar__cuitan {
    width: 150px;
  }
  .konta h3 {
    font-size: 13px;
  }
  .image__komen {
    width: 300px;
    position: absolute;
    bottom: 55%;
    left: -18%;
    opacity: 0.8;
  }
  .image__komen1 {
    display: none;
  }
  .image__komen2 {
    width: 150px;
    position: absolute;
    bottom: -38%;
    right: 19%;
    opacity: 0.7;
  }
  .gambar__bawah {
    position: absolute;
    bottom: 0;
    left: 1%;
    width: 120px;
  }
  .nav__image {
    width: 50px;
  }
  .nav__a {
    font-size: 15px;
  }
  .img-gantung {
    display: none;
  }
  .img-duduk {
    position: absolute;
    top: -6%;
    width: 125px;
    left: 10%;
  }
  .img2 {
    position: absolute;
    bottom: 70%;
    left: 15%;
    width: 12em;
  }
  .container__heading {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8em;
  }
  .quote {
    font-family: "Dosis", sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quote h3 {
    margin-top: 2em;
    font-size: 1.5em !important;
    align-self: center;
  }
  .quote p {
    font-size: 25px;
  }
  .row__button {
    margin-top: 10px;
  }
  .button {
    font-family: "Poppins", sans-serif;
    width: 10em;
    padding: 10px;
    font-size: 15px;
    background: linear-gradient(to right, #65dfc9, #6cdbeb);
    border: none;
    border-radius: 10px;
    margin-top: 4em;
    cursor: pointer;
  }
  .quote h3 {
    font-size: 3em;
  }
  .button2 {
    font-family: "Poppins", sans-serif;
    width: 10em;
    padding: 10px;
    font-size: 12px;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 4em;
    cursor: pointer;
    outline: none;
  }
  .container__heading .image__heading {
    width: 20em;
  }
  .container__main {
    margin-top: 17em;
  }
  .circle4 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 1rem;
    width: 1rem;
    position: absolute;
    border-radius: 20%;
  }
  .circle4 {
    bottom: 41%;
    right: 1%;
  }
  .circle2 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 3rem;
    width: 3rem;
    position: absolute;
    border-radius: 50%;
  }

  .circle2 {
    top: 40%;
    left: 1%;
  }

  .circle5 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    border-radius: 50%;
  }
  .circle6 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
  }

  .circle5 {
    bottom: 50%;
    left: 0.5%;
  }
  .circle6 {
    bottom: 2%;
    right: 1%;
  }
  .circle10 {
    display: none;
  }
}

/* @media screen and(max-width: 1024px) {
}
@media screen and(max-width: 768px) {
} */
/* 576px 768px  992px 1200px 1400px */
@media (min-width: 1200px) {
  .contex {
    position: absolute;
    top: 161px;
    left: 515px;
  }
  .contex h3 {
    font-size: 20px;
  }
  .contex p {
    font-size: 15px;
  }
  .bg__cover {
    width: 411px;
    margin-top: 70px;
    box-shadow: 30px 40px 30px -35px rgba(0, 0, 0, 0.9);
  }
  .square__photo {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 21rem;
    width: 23rem;
    position: absolute;
    border-radius: 2%;
    top: 0;
    right: 406px;
    z-index: -1;
  }
  .row__saya {
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  }
  .gambar__efek {
    width: 600px;
  }
  .gambar__layanan {
    margin-left: 276px;
  }

  .gambar__info {
    width: 500px;
  }
  .gambar__awal {
    width: 500px;
  }
  .image__komen2 {
    width: 250px;
    position: absolute;
    bottom: -39px;
    left: 37%;
  }
  .img__brain {
    width: 90%;
  }
  .image__komen {
    position: absolute;
    top: -10%;
    left: -7%;
    width: 400px;
  }
  .image__komen1 {
    position: absolute;
    top: -3%;
    right: -5%;
    width: 400px;
  }
  .bg-linear {
    background-image: url(/img/yaa.png);
    opacity: 0.8;
  }
  .star {
    text-align: center;
  }
  .img__overview1 {
    width: 600px;
  }
  .img__overview2 {
    width: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .kolom__text {
    margin-left: 5em;
  }
  .btnn {
    width: 100%;
    display: flex;
  }
  .btnn button {
    font-family: "Poppins", sans-serif;
    width: 10em;
    padding: 6px;
    font-size: 12px;
    background: linear-gradient(to right, #65dfc9, #6cdbeb);
    border: none;
    border-radius: 4px;
    margin-top: 4em;
    cursor: pointer;
    margin: 10px;
  }
  .view__gambar {
    display: flex;
    flex-wrap: wrap;
  }
  .our {
    background-image: url(/img/pari.png);
    background-size: cover;
    background-position-x: 100px;
    background-position-y: 15px;
  }

  .gambar__bawah {
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .container__main {
    margin-top: 15em;
  }
  .img-gantung {
    position: absolute;
    right: 0;
    top: 1%;
    width: 160px;
  }
  .img-duduk {
    position: absolute;
    left: 4%;
    top: -5%;
    width: 120px;
  }

  .circle4 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 2rem;
    width: 2rem;
    position: absolute;
    border-radius: 20%;
    top: 32%;
    right: 0.5%;
  }

  .circle12 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
  }
  .circle12 {
    top: 30%;
    left: 10%;
  }
  .circle2 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 3rem;
    width: 3rem;
    position: absolute;
    border-radius: 20%;
  }

  .circle2 {
    top: 40%;
    left: 1%;
  }

  .circle6 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 8rem;
    width: 8rem;
    position: absolute;
    border-radius: 50%;
  }

  .circle6 {
    bottom: 2%;
    right: 1%;
  }
  .circle10 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 2rem;
    width: 2rem;
    position: absolute;
    border-radius: 20%;
  }

  .circle10 {
    top: 4%;
    right: 40%;
  }
  .circle5 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 2rem;
    width: 2rem;
    position: absolute;
    border-radius: 20%;
    bottom: 30%;
    left: 0.5%;
  }
  .glass {
    width: 92%;
  }
  .quote {
    font-family: "Dosis", sans-serif;
    flex: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quote h3 {
    font-size: 2.5em !important;
  }
  .quote p {
    font-size: 20px;
  }
  .row__button {
    margin-top: 10px;
  }
  .button {
    font-family: "Poppins", sans-serif;
    width: 10em;
    padding: 10px;
    font-size: 15px;
    background: linear-gradient(to right, #65dfc9, #6cdbeb);
    border: none;
    border-radius: 10px;
    margin-top: 4em;
    cursor: pointer;
    margin: 10px;
  }
  .quote h3 {
    font-size: 3em;
  }
  .button2 {
    font-family: "Poppins", sans-serif;
    width: 10em;
    padding: 10px;
    font-size: 12px;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 4em;
    cursor: pointer;
    outline: none;
  }
  .gambar__main {
    display: flex;
    justify-content: center;
  }
  .img1 {
    width: 15em;
  }
  .img2 {
    position: absolute;
    bottom: 70%;
    left: 25%;
    width: 20em;
  }
  .text-me h3 {
    font-size: 20px;
  }
  .text-me p {
    font-size: 15px;
  }
  .over {
    font-family: "Dosis", sans-serif;
  }
  .over h3 {
    font-size: 2em !important;
  }
  .over p {
    font-size: 20px;
  }

  .tulisan__detail {
    font-size: 13px;
  }
  .gambar__rakBuku {
    width: 650px;
  }
  .gambar__komen {
    width: 700px;
  }
  .nav__tulis a {
    font-size: 15px;
  }
  .nav__tulis .mode {
    margin-top: 6px;
    width: 98px;
    font-size: 11px;
    height: 28px;
    line-height: 13px;
    /* animation: modee duration timing-function delay iteration-count direction fill-mode; */
    animation: modee 1s ease-in-out 5;
  }

  @keyframes modee {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .mode__again {
    animation: rotate 1s ease 5 !important;
  }
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .gambar__cuitan {
    width: 200px;
  }
}
@media (min-width: 1600px) {
  .contex {
    position: absolute;
    top: 161px;
    left: 515px;
  }
  .square__photo {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 22rem;
    width: 25rem;
    position: absolute;
    border-radius: 2%;
    top: 0;
    right: 300px;
    z-index: -1;
  }

  .gambar__komen {
    width: 900px;
  }
  .gambar__info {
    width: 700px;
  }
  .gambar__awal {
    width: 800px;
  }
  .gambar__rakBuku {
    width: 700px;
  }
  .bg-linear {
    background-image: url(/img/yaa.png);
    opacity: 0.8;
    background-position-y: 433px;
    background-position-x: 326px;
  }

  .circle12 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 12rem;
    width: 12rem;
    position: absolute;
    border-radius: 50%;
  }
  .circle12 {
    top: 30%;
    left: 15%;
  }
  .our {
    background-image: url(/img/pari.png);
    background-size: cover;
    background-position-x: 100px;
    background-position-y: 15px;
  }
  .kolom__text {
    margin-top: -5em;
    margin-left: 22px;
  }
  .gambar__bawah {
    width: 230px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .img-gantung {
    position: absolute;
    right: 0.6%;
    top: 3.6%;
    width: 160px;
  }
  .img-duduk {
    position: absolute;
    left: 4%;
    top: -4.5%;
    width: 170px;
  }
  .circle4 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 3rem;
    width: 3rem;
    position: absolute;
    border-radius: 20%;
  }
  .circle4 {
    top: 24.9%;
    right: 0.7%;
  }
  .circle5 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 3rem;
    width: 3rem;
    position: absolute;
    border-radius: 50%;
    bottom: 40%;
    left: 0.5%;
  }
}
