.kontainer {
  width: 100%;
  background-color: white;
  margin: 20px auto;
  border-radius: 20px;
  animation: deddy 2s ease-in-out forwards;
}
@keyframes deddy {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(100px);
    opacity: 1;
  }
}
.kontainer .card ul {
  list-style: none;
}
.card > ul > li:last-child {
  margin-top: 6em;
}
.form {
  max-width: 420px;
  margin: 30px auto;
  background-color: white;
  text-align: left;
  padding: 40px;
  border-radius: 10px;
}
label {
  color: #aaa;
  display: inline-block;
  margin: 25px 0 15px;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
input,
select {
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #555;
}
.data {
  display: flex;
  flex-wrap: wrap;
}
.term {
  margin-top: 2em;
  display: flex;
  align-items: center;
}
.term p {
  font-size: 17px;
}
.term > input[type="checkbox"] {
  width: 16px;
  margin: 0 10px 0 0;
  position: relative;
  top: 2px;
}
.tombol {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pill {
  display: inline-block;
  margin: 20px 10px 0 0;
  padding: 6px 12px;
  background-color: #eee;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #777;
  cursor: pointer;
}
