<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mari baca Buku</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/loader/loaders.css">
    <link rel="stylesheet" href="./css/vue.css">
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div class="css-loader">
      <div
        class="loader-inner line-scale d-flex align-items-center justify-content-center"
      ></div>
    </div>
    <main id="wrapper">
      <section class="glass" id="glasses">
        <nav
          id="navbartrig"
          class="navbar sticky-top navbar-expand-lg navbar-light bg-transparent"
        >
          <div class="container">
            <a class="navbar-brand nav__a" style="font-size: 15px" href="#"
              ><img
                src="./img/proggram.png"
                class="nav__image img-fluid"
                alt=""
                width="50"
              />Coding Book
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto nav__tulis">
                <a href="#home" class="nav-link menu-item">Beranda</a>
                <a href="#info"  class="nav-link menu-item">Informasi</a>
                <a href="#service" class="nav-link menu-item">Layanan</a>
                <a href="#shelves" class="nav-link menu-item">Rak</a>
                <a href="#pesan" class="nav-link menu-item">Pesan Buku</a>
                <a href="#contact" class="nav-link menu-item">Contact</a>
              </div>
            </div>
          </div>
        </nav>
        <!-- main container -->
        <div class="containe" id="home">
          <div class="container__heading">
            <div class="quote">
              <h3 class="text-center ini" 
              >Baca Buku Untuk</h3>
              <p class="text-center danini">Meningkatkan SKILL Coding mu</p>
              <div class="row__button">
                <button class="button shadow">
                  <a
                    href="#info"
                    style="text-decoration: none"
                    class="menu-item"
                    >Info Menarik</a
                  >
                </button>
                <button class="button2 shadow-sm">
                  <a
                    href="#overview"
                    style="text-decoration: none"
                    class="menu-item"
                    >Detail</a
                  >
                </button>
              </div>
              <div class="tangan">
                <img src="./img/flame-97.png" class="img-fluid"  alt="" />
              </div>
            </div>
            <img
              class="image__heading img-fluid mx-auto d-block gambar__awal"
              src="./img/my-bgg.png"
              alt=""
            />
          </div>

          <!-- Informasi -->
          <div class="container__main" >
            <div class="container"id="info">
              <h3 class="text-center mb-5">Informasi menarik</h3>
              <div class="row">
                <div class="col-lg-8 ">
                  <div class="gambar__main">
                    <img
                      src="./img/pixeltrue-special-deals-1.png"
                      class="img-fluid gambar__info"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-lg-4 text-center text-me align-self-center">
                  <h3 class="font-weight-bold">Info Nih !</h3>
                  <p class="mt-3">
                    Website ini menawarkan beberapa buku buku fundamental coding
                    untuk dibaca sebelum membuat code proggram. <br> SEPERTI APA ???
                    <br />
                    <br />
                    yuk scrooll kebawah
                  </p>
                  <img src="./img/scribbles-scribbles-88.png" class="img-fluid" width="100" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- Our Us -->
          <div class="our" id="overview">
            <div class="container" style="margin-top: 15em">
              <h3 class="text-center">Sudah Tau Belum ???</h3>
              <div class="row">
                <div class="col-lg-4 over align-self-center">
                  <div class="kolom__text mt-3">
                    <h3 class="text-center" style="font-size: 20px !important">
                      Anda Harus Tau!
                    </h3>
                    <p class="text-center" style="font-size: 15px !important">
                      Kamu proggrammer tapi malas baca buku, kamu bukan lah
                      proggrammer yg baik. proggrammer yg baik harus mampu dan
                      tahan membaca buku & dokumentasi.
                    </p>
                 
                      <div class="btn">
                        <button class="button shadow">
                          <a
                            href="#detail"
                            style="text-decoration: none"
                            class="menu-item"
                            >Lihat beberapa komentar</a
                          >
                        </button>
                      </div>  
                      <div class="tangan_kedua">
                        <img src="./img/flame-97.png" class="img-fluid" alt="" />
                      </div>
             
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="view__gambar">
                    <img
                      src="./img/pixeltrue-web-development-1.png"
                      alt=""
                      class="img-fluid img__overview1"
                    />
                    <img
                      src="./img/pixeltrue-study-from-books-1.png"
                      alt=""
                      class="img-fluid img__overview2"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Service-->
          <div class="container" style="margin-top: 15em" id="service">
            <h3 class="text-center">Layanan Kami</h3>
            <img src="./img/mirage-sign-in.png" class="img-fluid gambar__layanan" style="width: 200px;" alt="">
            <div class="row">
              <div class="col-lg-4 col-sm-12 layanan__pertama">
                <div class="card bg-transparent shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title text-center">Sumber Buku</h5>
                    <img
                      src="./img/icons8-book-reading-96.png"
                      style="width: 100px"
                      class="img-fluid rounded mx-auto d-block"
                      alt=""
                    />
                    <p class="card-text text-center">
                      Buku yg kami berikan adalah buku asli dari penulis, tidak hasil copy paste atau ambil dari karangan buku lain
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12 layanan__pertama">
                <div class="card bg-transparent shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title text-center">
                      Uang Anda Kembali
                    </h5>
                    <img
                      src="./img/Pig.png"
                      style="width: 100px"
                      class="img-fluid rounded mx-auto d-block"
                      alt=""
                    />
                    <p class="card-text text-center">
                      Uang anda kembali jika buku tidak ditulis dari penulis/pengarang asal
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12 layanan__pertama">
                <div class="card bg-transparent shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title text-center">Harga Tetap</h5>
                    <img
                      src="./img/icons8-check-dollar-96.png"
                      class="img-fluid rounded mx-auto d-block"
                      alt=""
                    />
                    <p class="card-text text-center">
                      harga buku tetap dan tidak pernah berubah, jadi kapan pun harga buku dijamin tidak berubah
                    </p>
                  </div>
                </div>
              </div>
            </div>
       
          </div>
          <!-- komentar -->
          <div class="bg-linear" id="detail" style="margin-top: 20em;">
            <h3 class="text-center" >Pendapat & Komentar</h3>
            <div class="container" style="margin-top: 2em;">  
                <div class="col-lg-10 offset-lg-1">
                  <img src="./img/komentarterbaik.png" alt="" class="img-fluid gambar__komen mx-auto d-block">
                </div>
              </div>
            </div>
          </div>

          <!-- -->
          <div class="container" style="margin-top: 10em;">
              <div class="col-lg-10 offset-lg-1">
                <img src="./img/perkenalan.png" alt="" class="img-fluid">
              </div>
          </div>

          <!-- Shelves -->
          <div class="container" id="shelves" style="margin-top: 15em">
            <img src="./img/welcome.png" class="img-fluid gambar__rakBuku mx-auto d-block" alt="">
            <h3 class="text-center">Rak Buku</h3>
            <p class="text-center">Buku Pemrograman Python</p>
            <div class="row thumb">
              <div class="col-lg-4">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 15px">
                      Buku Implementasi Algoritma dalam bahasa Python
                    </h3>
                    <a href="img/IMG20210124160338.jpg">
                      <img
                        src="./img/buku/IMG20210124160338.jpg"
                        class="img-fluid rounded mx-auto d-block gamba"
                        alt=""
                      />
                    </a>
                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/rating.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 13px"
                    >
                      Perkuat Algoritma mu dengan Belajar fundamental Python,
                      Algoritma dan strukture data. dilengkapi dengan studi
                      kasus dan beberapa source code bahasa Pemrograman Python
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 15px">
                      Buku Dasar Pemrograman dengan Python
                    </h3>
                    <a href="img/IMG20210124153342.jpg">
                      <img
                        src="./img/buku/IMG20210124153342.jpg"
                        class="img-fluid rounded mx-auto d-block gamba"
                        alt=""
                      />
                    </a>
                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 13px"
                    >
                      Kamu baru kenal bahasa pemrograman Python? atau kamu baru
                      ingin memulai dengan menggunakan bahasa Python? selamat
                      kamu orang yg beruntung datang pada page ini. Buku
                      Pemrograman Python karya Abdul Karir, berisi materi,teori
                      dasar & Algoritma bahasa pemrograman Python dan source
                      code proggram serta studi kasus
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 style="font-size: 15px" class="card-title text-center">
                      Buku Tips & Trik Program database menggunakan Python
                    </h3>
                    <a href="img/IMG20210124160625.jpg">
                      <img
                        src="./img/buku/IMG20210124160625.jpg"
                        class="img-fluid rounded mx-auto d-block gamba"
                        alt=""
                      />
                    </a>

                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/rating.png" alt="" width="30" />
                      <img src="./img/rating.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 13px"
                    >
                      Kamu sudah biasa dengan Python dan mau lebih update lagi,
                      Python sekarang lebih dipakai dalam kasus data/bigdata.
                      buku ini cocok menemani kamu dalam mempelajari big data
                      menggunakan Python dilengkapi dengan teori fundamental &
                      studi kasus
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-center mt-5">Buku Pemrograman PHP</p>
            <div class="row thumb">
              <div class="col-lg-6">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 20px">
                      Buku Koleksi Pemrograman WEB dengan PHP
                    </h3>
                    <a href="img/IMG20210124153703.jpg">
                      <img src="./img/buku/IMG20210124153703.jpg"
                      class="img-fluid rounded mx-auto d-block gamba alt="" />
                    </a>
                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 15px"
                    >
                      Buku koleksi Pemrograman PHP memberikan source code free
                      untuk pembaca source code untuk membuat aplikasi berbasis
                      WEB untuk pemula dilengkapi dengan teori dan penemu bahasa
                      pemrograman PHP tahun rilis PHP dan asal usul bahasa PHP
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 20px">
                      Buku Pemrograman WEB dengan PHP VERSI 7
                    </h3>
                    <a href="img/IMG20210124214541.jpg">
                      <img
                        src="./img/buku/IMG20210124214541.jpg"
                        class="img-fluid rounded gamba mx-auto d-block"
                        alt=""
                      />
                    </a>
                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 15px"
                    >
                      Anda sering buat aplikasi web dengan php? cobain nih Buku
                      Pemrograman PHP7,buku ini memberikan fasilitas yg banyak
                      mulai dari Memasang PHP di server web windows hingga
                      konfigurasi ke database modern MongoDB,PostgreSQL dengan
                      PHP
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-center mt-5">Buku Pemrograman JAVA</p>
            <div class="row thumb">
              <div class="col-lg-4">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 15px">
                      Buku Logika Pemrograman menggunakan JAVA
                    </h3>
                    <a href="img/IMG20210124161056.jpg">
                      <img
                        src="./img/buku/IMG20210124161056.jpg"
                        class="img-fluid rounded mx-auto gamba d-block"
                        alt=""
                      />
                    </a>
                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/rating.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 15px"
                    >
                      Buku Pemrograman dengan JAVA memberikan teori,Logika dan
                      dasar pemrograman JAVA dan praktek langsung menggunakan
                      source code Bahasa pemrograman JAVA
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 15px">
                      Buku JAVA Untuk Kriptografy
                    </h3>
                    <a href="img/IMG20210124160240.jpg">
                      <img
                        src="./img/buku/IMG20210124160240.jpg"
                        class="img-fluid rounded mx-auto d-block gamba"
                        alt=""
                      />
                    </a>
                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/rating.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 15px"
                    >
                      ingin menambahkan keamanan dalam aplikasi yg kamu bangun?
                      dan bingung gimana cara menambahkam keamaan aplikasi?
                      solusinya ada di buku ini, Buku JAVA Kriptografy
                      memberikan pengetahuan tentang cara mengamankan data
                      menggunakan Kriptografi dan Java Mengamankan Data Dari
                      Penyadapan
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 15px">
                      Buku Algoritma menggunakan JAVA
                    </h3>
                    <a href="/img/IMG20210124160709.jpg">
                      <img src="./img/buku/IMG20210124160709.jpg"
                      class="img-fluid rounded mx-auto d-block gamba alt="" />
                    </a>
                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 15px"
                    >
                      ngoding dan buat app menggunakan JAVA tapi belom tau
                      Algoritma dan strukture data ? tenang Buku Algoritma &
                      Pemrograman JAVA memberikan teori dasar dan studi kasus
                      pemrograman JAVA
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-center mt-5">Buku Pemrograman Lain-lain</p>
            <div class="row thumb">
              <div class="col-lg-4">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 15px">
                      Buku Dasar HTML,CSS & JavaScript
                    </h3>
                    <a href="img/IMG20210124160417.jpg">
                      <img
                        src="./img/buku/IMG20210124160417.jpg"
                        class="img-fluid gamba rounded mx-auto d-block"
                        alt=""
                      />
                    </a>
                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 13px"
                    >
                      Kamu lagi design web menggunakan HTML,CSS dan bantuan
                      JavaScript untuk membuat web mu jadi interaktif? buku ini
                      pantas kamu jadikan teman mu karena buku ini menyajikan
                      teori fundamental html,css & JavaScript serta source code
                      yg bisa kamu contek
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 15px">
                      Buku Algoritma Pemrograman & Strukture data menggunakan
                      C++
                    </h3>
                    <a href="img/IMG20210124161321.jpg">
                      <img
                        src="./img/buku/IMG20210124161321.jpg"
                        class="img-fluid rounded mx-auto gamba d-block"
                        alt=""
                      />
                    </a>
                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 12px"
                    >
                      Anda proggrammer C++, kami menyarankan anda memiliki buku
                      ini karena didalam buku ini terdapat teori dasar
                      fundamental,source code dan contoh studi kasus
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 15px">
                      Buku Algoritma & Pemrograman menggunakan Pascal dan C
                    </h3>
                    <a href="img/IMG20210124214554.jpg">
                      <img
                        src="./img/buku/IMG20210124214554.jpg"
                        class="img-fluid gamba rounded mx-auto d-block"
                        alt=""
                      />
                    </a>
                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 13px"
                    >
                      Anda proggrammer tapi masih kendala di fundamental?
                      jadikan buku ini teman ngoding mu dengan bahasa
                      pemrograman C dan pascal dilengkapi dengan
                      teori,fundamental bahasa c dan pascal serta studi kasus.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-center mt-5">
              Buku Pemrograman Machine Learning Dengan Python
            </p>
            <div class="row thumb">
              <div class="col-lg-6">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 15px">
                      Buku pengenalan Machine Learning dengan Python
                    </h3>
                    <a href="img/IMG20210124154048.jpg">
                      <img
                        src="./img/buku/IMG20210124154048.jpg"
                        class="img-fluid rounded mx-auto d-block gamba"
                        alt=""
                      />
                    </a>
                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/rating.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 13px"
                    >
                      anda baru belajar machine Learning? atau sudah pernah
                      membuat project machine Learning, kami sangat menyarankan
                      untuk anda memiliki buku ini karena buku ini dilengkapi
                      dengan dasar dan pengenalan machine Learning menggunakan
                      Python
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card bg-transparent shadow">
                  <div class="card-body">
                    <h3 class="card-title text-center" style="font-size: 15px">
                      Buku Pengantar Machine Learning menggunakan Python & Rust
                    </h3>
                    <a href="img/IMG20210124153914.jpg">
                      <img
                        src="./img/buku/IMG20210124153914.jpg"
                        class="img-fluid rounded mx-auto gamba d-block"
                        alt=""
                      />
                    </a>
                    <div class="star mt-4">
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                      <img src="./img/star.png" alt="" width="30" />
                    </div>
                    <p
                      class="card-text text-center mt-2"
                      style="font-size: 13px"
                    >
                      Machine Learning merupakan bagian dari artificial
                      inteligence/AI, buku ini menyajikan beberapa teori dan
                      pengantar penting untuk belajar machine Learning dengan
                      bahasa pemrograman Rust dan Python
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- efek pertama tidak baca buku -->
          <div class="container" style="margin-top: 25em;">
            <div class="row">
              <div class="col-lg-7">
                <img src="./img/mirage-no-comments.png" alt="" class="img-fluid gambar__efek mx-auto d-block">
              </div>
              <div class="col-lg-5">
                <h3  class="text-center">Kamu Tau ga??? </h3>
                <p class="text-center mt-3" style="font-size: 15px;">apa efek buat kamu... <br>yg tidak membaca <strong>BUKU Coding Fundamental</strong> dari CodingBook saat ngoding<br> <strong>yuksss Scroolll</strong> </p>
              </div>
            </div>
          </div>
          <!-- end -->
          <!-- efek tidak baca buku -->
              <div class="container" style="margin-top: 15em;">
                <div class="row">
                  <div class="col-lg-5">
                    <img src="./img/eastwood-design.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-2">
                    <div class="lingkaran">
                      <p  style="font-size: 13px; margin-top: 40px;" class="text-center">Efeknya ada ketika codingan mulai error, error proggram itu banyak. terlebih erorr yg paling membingungkan ialah logika yg kurang tepat saat ngoding. <br> jadi yg dirasakan ialah malas & jadi beban </p> 
                    </div>  
                  </div>
                  <div class="col-lg-5">
                    <img src="./img/eastwood-come-back-later.png" class="img-fluid"  alt="">
                  </div>

                </div>
              </div>
          <!-- terakhir -->
          <div class="container" style="margin-top: 17em;">
            <div class="row">
              <div class="col-lg-12">
                <img src="./img/kembalilagi.png" alt="" class="img-fluid gambar__cuitan mx-auto d-block">
              </div>
            </div>
          </div>
<!-- form inputan -->
          <div class="container konta" style="margin-top: 5em;" id="counter">
            <h3 class="text-center">Anda ingin membeli buku? <br> isi form dibawah jika ingin menghindari efek diatas</h3>
            <div id="pesan" class="row">
              <div class="col-lg-6">
                <form class="form" @submit.prevent="submiit">
                  <label>Nama Kamu</label>
                  <input type="text" v-model="nama" />
                  <label>Tertarik Membeli Buku</label>
                  <select v-model="role">
                    <option value="Tertarik">Tertarik</option>
                    <option value="Tidak Tertarik">Tidak Tertarik</option>
                  </select>
              <label for="">No HP/WhatsApp</label>
              <input type="text" v-model="telp">
                  <label for=""
                    >masukkan JUDUL buku yg ingin anda sarankan. Pisahkan dengan tanda
                    koma</label
                  >
                  <input type="text" v-model="tempatPenampungan" @keyup="tekankeyboard" />
              
                  <div class="data">
                    <p :key="jeniss" v-for="jeniss in jenis" class="pill">
                      {{ jeniss }}
                    </p>
                  </div>
                  <div class="tombol">
                    <button class="btn btn-info">Kirim Masukan Ke ADMIN</button>
                  </div>
                </form>
              </div>
              <div class="col-lg-6"  v-if="isSubmitted">
                <p class="text-center mt-5">Terimakasih sudah mengisi form</p>
                <div class="kontainer">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" style="font-size: 13px;">Nama Kamu</th>
                      <th scope="col" style="font-size: 13px;">Tertarik ?</th>
                      <th scope="col" style="font-size: 13px;">No HP</th>
                      <th scope="col" style="font-size: 13px;">Buku yg disarankan</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th style="font-size: 13px;" class="font-italic">{{nama}}</th>
                      <td style="font-size: 13px;" class="font-italic">{{role}}</td>
                      <td style="font-size: 13px;" class="font-italic">{{telp}}</td>
                      <td>
                        <ul class="list-group list-group-flush" :key="jeniss" v-for="jeniss in jenis">
                          <li class="list-group-item" style="font-size: 10px;" >{{jeniss}}</li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>

          <!-- footer -->
          <footer id="contact">
            <div class="container">
                <p class="mb-5 mt-5" >Hubungi kami lebih lanjut</p>
              <div class="row justify-content-center">
                <div class="col-lg-4 text__footer" >
                  <h3>Contact</h3>
                    <p>Email</p>
                    <p>WhatsApp</p>
                    <p>Facebook</p>
                    <p>Instagram</p>
                </div>
                <div class="col-lg-4 text__footer">
                  <h3>Product</h3>
                    <p>Buku Coding</p>
                    <p>Pengajar CodingBook</p>
                    <p>Blog CodingBook</p>
                    <p>Tentang Coding Book</p>
                </div>
                
                <div class="col-lg-4 text__footer">
                  <h3>Alamat</h3>
                  <p>Jalan Binjai km 10,8 simpang pardede medan </p>
                  <p><strong>code pos 20351</strong></p>
                </div>
              </div>
                <p class="text-center" style="font-size: 15px; color: gray; margin-top: 10em;">All right Reserved 2021 @CodingBook</p>
              </div>
          </footer>
        </div>
      </section>
    </main>
<!-- CIRCLE DAN GAMBAR GANTUNG -->
    <img src="./img/clip-12.png" class="img-gantung img-fluid" alt="" />
    <img
      src="./img/clip-distance-education.png"
      class="img-duduk img-fluid"
      alt=""
    />
    <img src="./img/clip-139.png" alt="" class="img-fluid gambar__bawah" />
    <div class="circle4"></div>
    <div class="circle5"></div>
    <div class="circle6"></div>
    <div class="circle10"></div>
    <div class="circle12" id="circle"></div>
    <div class="fade"></div>
    <script
      src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>

    <script src="./js/jquery.poptrox.min.js"></script>
    <script src="./js/owl-carousel.js"></script>
    <script src="./js/loader.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/main.js"></script>
    <script>
      const Counter = {
  data() {
    return {
      nama: "",
      role: "Tertarik",
      telp:"",
      tempatPenampungan: "",
      jenis: [],
      isSubmitted: false,
    };
  },
  methods: {
    tekankeyboard(e) {
      if (e.key === "," && this.tempatPenampungan) {
        if (!this.jenis.includes(this.tempatPenampungan)) {
          this.jenis.push(this.tempatPenampungan);
        }
        this.tempatPenampungan = "";
      }
    },
    submiit() {
      this.isSubmitted = true;
    },
  },
}
    Vue.createApp(Counter).mount('#counter')
    </script>
    <script>
 
      jQuery(window).on("load", function () {
      $(".css-loader").fadeOut("slow");
      $(".ini").addClass("slide")
      $(".danini").addClass("slide")
      $(".image__heading").addClass("slide")
});
    </script>
  </body>
</html>
